.page {
  min-width: 1100px;
  max-width: 1600px;
  font-family: "Helvetica Neue", "Arial", sans-serif;
  margin: 0 auto;
}

.header {
  max-height: 756px;
  min-height: 600px;
  height: 100vh;
  display: flex;
}

.header__logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  background-image: url(/how-to-learn/images/logo_place_header.svg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 32px;
  width: 183px;
}

.header__title {
  align-self: center;
  line-height: 96px;
  font-size: 6.375em;
  margin-left: 64px;
  width: 730px;
}

.header__subtitle {
  line-height: 25px;
  font-size: 1.125em;
  position: absolute;
  left: 64px;
  bottom: 30px;
  width: 388px;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  right: 0;
  top: 64px;
}

.header_main-illustration {
  position: absolute;
  right: 0;
  bottom: 0;
  background-size: contain;
  height: 608px;
  width: 765px;
  background-repeat: no-repeat;
}

.description {
  display: flex;
  justify-content: center;
}

.two_colons {
  display: flex;
  width: 80%;
  margin: 100px 0;
  justify-content: space-between;
}

.two_colons__bref {
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  color: #2f80ed;
}

.two_colons__main-text {
  width: 80%;
  min-width: 784px;
}

.two_colons__paragraph {
  margin: 30px 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two_colons__paragraph-span-accent {
  font-weight: bold;
}

.paragraph__margin-null {
  margin: 0;
}

.digits {
  margin-bottom: 100px;
}

.section-title {
  text-align: center;
  margin-bottom: 20px;
  width: 60%;
  margin: 0 auto;
  line-height: 69px;
  font-size: 60px;
}

.section-subtitle {
  text-align: center;
  width: 60%;
  margin: 0 auto;
  line-height: 34px;
  font-size: 24px;
}

.table {
  width: 1100px;
  display: flex;

  justify-content: space-between;
  margin: 0 auto;
  flex-wrap: wrap;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__heaging {
  line-height: 1.15;
  font-size: 24;
}

.table__text {
  margin-top: 20px;
  line-height: 1.2;
  font-size: 18px;
}

.feynman {
  height: 790px;
}

.feynman__title {
  line-height: 1.15;
  font-size: 120px;
  width: 648px;
  margin: 0 auto 70px auto;
  text-align: center;
}

.feynman__tsubtitle {
  text-align: center;
  line-height: 51px;
  font-size: 36px;
}

.feynman__link {
  position: absolute;
  right: 48px;
  text-decoration: none;
  color: #2f80ed;
  line-height: 51px;
  font-size: 36px;
}

.feynman__pic {
  min-height: 637px;
  background-image: url(/how-to-learn/images/feynman.png);
  background-repeat: no-repeat;
  background-position: bottom left;
}
